RewriteEngine On
#
# RewriteBase indispensable sur webetu :
# à adapter à votre 
RewriteBase /www/valeurma1u/deefy


#
# Pour interdire l'accès aux répertoires contenant du code
RewriteRule ^sql(/.*|)$ - [NC,F]   # interdit l'accès à deefy/sql
RewriteRule ^src(/.*|)$ - [NC,F]   # interdit l'accès à deefy/src (il ne doit pas contenir index.php
RewriteRule \.ini$ - [NC,F]   # interdit l'accès à tous les fichiers .ini
